In [2]:
import pandas as pd

In [9]:
df_aux_curso = pd.read_excel('data/Aux_Curso.xlsx',index_col=0)
df_aux_chamado = pd.read_excel('data/Aux_chamado.xlsx',index_col=0)
df_base_chamado = pd.read_excel('data/Base_Chamados.xlsx',index_col=0)
df_base_calouros = pd.read_excel('data/Base_log_calouros.xlsx',index_col=0)

print(f'df_aux_curso: {df_aux_curso.shape}')
print(f'df_aux_chamado: {df_aux_chamado.shape}')
print(f'df_base_chamado: {df_base_chamado.shape}')
print(f'df_base_calouros: {df_base_calouros.shape}')

df_aux_curso: (3652, 3)
df_aux_chamado: (83, 3)
df_base_chamado: (938182, 5)
df_base_calouros: (246110, 5)

In [10]:
df_aux_curso.head()

   CODIGO_CURSO  Ticket médio mensal Grande área do curso
0             3                  241              Humanas
1             6                  143              Humanas
2           243                  226              Humanas
3           246                  347              Humanas
4           258                  107              Humanas

In [11]:
df_aux_chamado.head()

,SHORT_DESCRIPTION,FRENTE,ÁREA DE SUPORTE RESPONSÁVEL
0,KrotonPDA > Serviços Acadêmicos > Atestado de ...,PORTAL,Secretaria Acadêmica
1,KrotonPDA > Serviços Acadêmicos > Histórico Es...,PORTAL,Secretaria Acadêmica
2,KrotonPDA > Serviços Acadêmicos > Inclusão de ...,PORTAL,Secretaria Acadêmica
3,KrotonPDA > Serviços Acadêmicos > Suspensão de...,PORTAL,Secretaria Acadêmica
4,KrotonPDA > Serviços Financeiros > Alterar o ...,PORTAL,Financeiro

In [12]:
df_base_chamado.head()

,NUMBER_SN,SYS_CREATED_ON,SHORT_DESCRIPTION,RA_ALUNO,FRENTE
1,CS2245705,2020-03-14 14:08:30,PAD > 1. Graduação Presencial > Atendimento de...,3489323595,PRES
4,CS1496976,2020-01-30 16:14:06,PDA > Serviços Acadêmicos > Entregar Atividade...,818823833,PORTAL
5,CS1541894,2020-02-04 15:01:09,PDA > Serviços Acadêmicos > Atestado de Matrícula,379127814579,PORTAL
9,CS1550304,2020-02-04 20:57:00,PDA > Serviços Financeiros > Não Consigo Gerar...,365392513920,PORTAL
12,CS1913239,2020-03-03 12:23:24,PDA > Serviços Acadêmicos > Alterar Meu Curso ...,373087769067,PORTAL

In [13]:
df_base_calouros.head()

    CODIGO_ALUNO  CODIGO_CURSO   DATA_LOG SITUACAO_ALUNO TIPO_ALUNO
13      11185893           543 2020-06-25              E    Calouro
14      11185893           543 2020-01-04              C    Calouro
15      11185893           543 2020-01-03              P    Calouro
19       3941358          2802 2020-02-20              C    Calouro
20       3941358          2802 2020-01-22              P    Calouro

In [14]:
df_base_calouros['TIPO_ALUNO'].drop_duplicates()

13    Calouro
Name: TIPO_ALUNO, dtype: object

In [23]:
df_base_calouros_cursando_matriculado = df_base_calouros[df_base_calouros['SITUACAO_ALUNO'].isin(["C","F","R","S","M"])]
df_base_calouros_cursando = df_base_calouros[df_base_calouros['SITUACAO_ALUNO'].isin(["C","F","R","S"])]
df_base_calouros_evadidos = df_base_calouros[df_base_calouros['SITUACAO_ALUNO'].isin(["E"])]
df_base_calouros_transferidos = df_base_calouros[df_base_calouros['SITUACAO_ALUNO'].isin(["T"])]

calouros_cursando_matriculado = df_base_calouros_cursando_matriculado["CODIGO_ALUNO"].nunique()
calouros_cursando = df_base_calouros_cursando["CODIGO_ALUNO"].nunique()
calouros_evadidos = df_base_calouros_evadidos["CODIGO_ALUNO"].nunique()
calouros_transferidos = df_base_calouros_transferidos["CODIGO_ALUNO"].nunique()

print(f'calouros_cursando_matriculado: {calouros_cursando_matriculado}')
print(f'calouros_cursando: {calouros_cursando}')
print(f'calouros_evadidos: {calouros_evadidos}')
print(f'calouros_transferidos: {calouros_transferidos}')

calouros_cursando_matriculado: 98353
calouros_cursando: 98352
calouros_evadidos: 37435
calouros_transferidos: 2918

In [29]:
df_base_calouros_diff_cursando_matriculado_evadidos = df_base_calouros_cursando_matriculado[df_base_calouros_cursando_matriculado['CODIGO_ALUNO'].isin(df_base_calouros_evadidos['CODIGO_ALUNO'])]
diff_cursando_matriculado_evadidos = df_base_calouros_diff_cursando_matriculado_evadidos["CODIGO_ALUNO"].nunique()

percent_calouros_cursando_matriculado_evadidos = diff_cursando_matriculado_evadidos/calouros_cursando_matriculado

print(f'percent_calouros_cursando_matriculado_evadidos: {round(100*percent_calouros_cursando_matriculado_evadidos,2)}%')

percent_calouros_cursando_matriculado_evadidos: 33.49%

In [28]:
df_base_calouros_diff_cursando_evadidos = df_base_calouros_cursando[df_base_calouros_cursando['CODIGO_ALUNO'].isin(df_base_calouros_evadidos['CODIGO_ALUNO'])]
diff_cursando_matriculado_evadidos = df_base_calouros_diff_cursando_evadidos["CODIGO_ALUNO"].nunique()

percent_calouros_cursando_evadidos = diff_cursando_matriculado_evadidos/calouros_cursando

print(f'percent_calouros_cursando_evadidos: {round(100*percent_calouros_cursando_evadidos,2)}%')

percent_calouros_cursando_evadidos: 33.49%

In [36]:
df_base_calouros_diff_cursando_matriculado_transferidos = df_base_calouros_cursando_matriculado[df_base_calouros_cursando_matriculado['CODIGO_ALUNO'].isin(df_base_calouros_transferidos['CODIGO_ALUNO'])]
diff_cursando_matriculado_transferidos = df_base_calouros_diff_cursando_matriculado_transferidos["CODIGO_ALUNO"].nunique()

percent_calouros_cursando_matriculado_transferidos = diff_cursando_matriculado_transferidos/calouros_cursando_matriculado

# print(diff_cursando_matriculado_transferidos,calouros_cursando_matriculado)
print(f'percent_calouros_cursando_matriculado_transferidos: {round(100*percent_calouros_cursando_matriculado_transferidos,2)}%')

percent_calouros_cursando_matriculado_transferidos: 2.92%

In [37]:
df_base_calouros_diff_cursando_transferidos = df_base_calouros_cursando[df_base_calouros_cursando['CODIGO_ALUNO'].isin(df_base_calouros_transferidos['CODIGO_ALUNO'])]
diff_cursando_transferidos = df_base_calouros_diff_cursando_transferidos["CODIGO_ALUNO"].nunique()

percent_calouros_cursando_transferidos = diff_cursando_transferidos/calouros_cursando

# print(diff_cursando_transferidos,calouros_cursando)
print(f'percent_calouros_cursando_transferidos: {round(100*percent_calouros_cursando_transferidos,2)}%')

percent_calouros_cursando_transferidos: 2.92%